pyasn1==0.5.1 ; python_version >= "3.7" and python_version < "4.0"
pysnmpcrypto==0.0.4 ; python_version >= "3.7" and python_version < "4.0"
pysmi-lextudio==1.1.13 ; python_version >= "3.7" and python_version < "4.0"
