pyasn1 @ git+ssh:git@github.com:questcontrolsinc/pyasn1.git@main
pysnmpcrypto==0.0.4 ; python_version >= "3.7" and python_version < "4.0"
pysmi-lextudio==1.1.13 ; python_version >= "3.7" and python_version < "4.0"